/temp/bundle/.gitignore
/temp/compile/.gitignore
/temp/compile/data/2a/.gitignore
/temp/compile/data/a6/.gitignore
/temp/compile/data/ab/.gitignore
/temp/compile/data/f9/.gitignore
/temp/compile/modified_files/.gitignore
