/thirdperson/temp/bundle
/thirdperson/temp/compile
/thirdpersonequipment/temp/bundle/bundle_database.data
/thirdpersonequipment/temp/bundle/e4f1bef71ecd813a
/thirdpersonequipment/temp/bundle/settings.ini
/thirdpersonequipment/temp/compile/compile_versions.sjson
/thirdpersonequipment/temp/compile/data/2a/2a4e7e09ac175fff
/thirdpersonequipment/temp/compile/data/6c/6cad75093a454d38
/thirdpersonequipment/temp/compile/data/9a/9a44c2ce3ed02b5b
/thirdpersonequipment/temp/compile/data/a9/a9a918fadf51eff0
/thirdpersonequipment/temp/compile/data/bb/bb53e10cfc2af92f
/thirdpersonequipment/temp/compile/debug_file_index.sjson
/thirdpersonequipment/temp/compile/exploded_database.db
/thirdpersonequipment/temp/compile/exploded_database_builder.data
/thirdpersonequipment/temp/compile/modified_files/0
/thirdpersonequipment/temp/compile/processed_bundles.csv
/thirdpersonequipment/temp/compile/settings.ini
/thirdpersonequipment/temp/compile/strings.txt
